[submodule "include/SpeedyKeyV"]
	path = include/SpeedyKeyV
	url = https://github.com/ozxybox/SpeedyKeyV.git
[submodule "include/SteamAppPathProvider"]
	path = include/SteamAppPathProvider
	url = https://github.com/Trico-Everfire/SteamAppPathProvider.git
